  <div class="btn-group dropdown">
    <button type="button" class="btn light-bl-btn">Select Application Environment</button>
    <select class = "custom-select" name="envType" id="envId" [ngModel]="selectedEnv" required (ngModelChange)="getHealthChecksByEnv($event)">  
      <option *ngFor="let envType of envTypes" [value]="envType">{{envType}}</option>			
    </select>
  </div>
  <div class="btn-group dropdown">
    <button type="button" class="btn light-bl-btn">Select Project</button>
    <select class = "custom-select" name="projectName" id="projectName" [ngModel]="projectName" required (ngModelChange)="getHealthCheckByProject($event)">  
      <option *ngFor="let filterProjectName of filterProjectNames" [value]="filterProjectName.projectName">{{filterProjectName.projectName}}</option>     
    </select>
  </div>
  <br>
  <span class="pt-5 pb-5">&nbsp;</span>
  <table class="table table-lg-responsive table-striped" *ngFor="let uniqueProjectName of uniqueProjectNames">
    <thead *ngIf="uniqueProjectNames.length>0">
      <tr class="table-head">
        <th><font color="#fff">{{uniqueProjectName}}</font></th>
      </tr>
      <tr>
        <th class="card-text">Component Name</th>
        <th class="card-text">Application Url</th>
        <th class="card-text">Healthcheck Url</th>
        <th class="card-text">Status</th>
      </tr>
    </thead>
    <tbody *ngFor="let healthcheck of healthChecks">
      <tr scope="row" *ngIf="healthcheck.projectName == uniqueProjectName">
        <td class="card-subtitle mb-2 text-muted">{{healthcheck.componentName}}</td>
        <td class="card-text">http://{{healthcheck.ipAddress}}:{{healthcheck.applicationPort}}</td>
        <td class="card-text">http://{{healthcheck.ipAddress}}:{{healthcheck.healthCheckPort}}/{{healthcheck.healthCheckUrl}}</td>
        <td><div *ngIf="healthcheck.serverStatus == true" class="blink_me">
          <span class="badge badge-success">U</span>
        </div>
        <div *ngIf="healthcheck.serverStatus == false || healthcheck.serverStatus == null" class="blink_me">
          <span class="badge badge-danger">D</span>
        </div></td>
      </tr>
    </tbody>
  </table>
