.blink_me {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  25% {
    opacity: 0;
  }
}

.table-head{
	background-color: rgb(18, 70, 128);
	color: white;
}

.head-td{
	background-color: #6c757d;
	color: white;
}
.red-btn{
	color: #fff;
  	background-color: #bc0006;
  	border-color: #bc0006;
}
.light-bl-btn{
  background-color: rgba(23, 162, 184, 0.5);
  color:rgb(18, 70, 128);
}
