	<div id="wrapper" [ngClass]="{'toggled': isClassVisible }">
		<div id="sidebar-wrapper" *ngIf="isLoggedIn">
			<ul class="sidebar-nav">
				<li margin-bottom:50px>
					<button class="btn btn-blue btn-info" (click)="isClassVisible = !isClassVisible;">CLOSE</button>
				</li>
				<li>
					<a routerLink="/projadmin">Project Admin</a>
				</li>
				<li>
					<a routerLink="/hcadmin">HealthCheck Admin</a>
				</li>
				<li>
					<a routerLink="/dashboard">HealthCheck Dashboard</a>
				</li>
				<div></div>
				<!-- <li>
					<a class="word" href="https://drive.google.com/open?id=1VcD5MvQk7OP6jgGHNKFxBdoGnSp90v6k&embedded=true">Quick Start</a>
					<script type="text/javascript">
						$(document).ready(function() {
						 $(".word").fancybox({
						  'width': 600, // or whatever
						  'height': 320,
						  'type': 'iframe'
						 });
						});
					</script>
				</li> -->
			</ul>
		</div>
		<div id="sidebar-wrapper" *ngIf="!isLoggedIn && registeringUser">
			<div *ngIf="regErrorMessage" class="alert alert-info">
				{{regErrorMessage}}
			</div>
			<ul class="sidebar-nav">				
				<li style="margin-top: 31%; padding: 5%">
					<input type="text" class="form-control" name ="userRegId" id="userRegId" ngModel placeholder="MMT ID *"  required [(ngModel)]="userInfo.mmtId">
				</li>
				<li style="padding: 5%;">
					<input type="password" class="form-control" name ="userRegPassword" id="userRegPassword" ngModel placeholder="LDAP PASSWORD *" required [(ngModel)]="userInfo.mmtPassword">
				</li>
				<li style="padding: 5%;">
					<input type="text" class="form-control" name ="userRegEmail" id="userRegEmail" ngModel placeholder="MMT EMAIL ID *" required [(ngModel)]="userInfo.mmtEMailId">
				</li>
				<li style="padding-top: 5%; padding-right: 15%; padding-bottom: 5%;">
					<div class="btn-group dropdown">
						<button type="button" class="btn light-bl-btn">Select Team DL</button>
						<select class = "custom-select" name="userGroupEMail" id="userGroupEMail" ngModel [(ngModel)]="userInfo.mmtGroupEMailId" required>  
	                		<option *ngFor="let projectDeliveryEMail of projectDeliveryEMailLists" [value]="projectDeliveryEMail">{{projectDeliveryEMail}}</option>
	             		</select>
             		</div>             	
				</li>
				<div style="padding: 5%;">
					<button class="btn btn-blue btn-info" (click)="registerUser(userInfo)">REGISTER USER</button>
					<a style="color: red" href="#" (click)="loadLoginForm()"> Cancel </a>
				</div>
			</ul>	
		</div>
		<div id="sidebar-wrapper" *ngIf="!isLoggedIn && !registeringUser" >
			<div *ngIf="loginErrorMessage" class="alert alert-info">
				{{loginErrorMessage}}
			</div>
			<ul class="sidebar-nav">				
				<li style="margin-top: 31%; padding: 5%">
					<input type="text" class="form-control" name ="userLoginId" id="userLoginId" ngModel placeholder="MMT ID" 
					[(ngModel)]="userTryingToLogin.mmtId">
				</li>
				<li style="padding: 5%;">
					<input type="password" class="form-control" name ="userLoginPassword" id="userLoginPassword" ngModel placeholder="LDAP PASSWORD" 
					[(ngModel)]="userTryingToLogin.password">
				</li>
				<div style="padding: 5%;">
					<button class="btn btn-blue btn-info" (click)="loginUser(userTryingToLogin)">LOGIN</button>
					<a style="color: red" href="#" (click)="loadRegisterForm()"> Register </a>
				</div>
				<li>
					<a class="word" href="https://drive.google.com/open?id=1VcD5MvQk7OP6jgGHNKFxBdoGnSp90v6k&embedded=true">Quick Start</a>
					<script type="text/javascript">
						$(document).ready(function() {
						 $(".word").fancybox({
						  'width': 600, // or whatever
						  'height': 320,
						  'type': 'iframe'
						 });
						});
					</script>
				</li>				
			</ul>			
		</div>
		<div class="card-header">
		<h1 class="header-color" text-align="center"><button class="float btn btn-info" (click)="isClassVisible = !isClassVisible;">MENU</button>{{title}}
			<div style="float: right;" *ngIf="isLoggedIn">
				<h6>{{userId}}&nbsp;</h6>
				<button class="float btn btn-info" style="position: relative; float: right;" (click)="logoutUser()">LOGOUT</button>
			</div>
		</h1>
		</div>
		<div id="page-content-wrapper">

			<div class="container-fluid">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>


